name: ci-only

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ghcr.io
      - name: Build and push
        id: local_build
        uses: docker/build-push-action@v2
        with:
          push: false
          platforms: linux/amd64
          tags: ghcr.io/alexellis/registry-creds:${{ github.sha }}
      - name: Image digest
        run: echo ${{ steps.local_build.outputs.digest }}
